*{
	padding: 0;
	margin: 0;
}
.wrap{
	position: relative;
}
.wrap,.page{
	width: 100%;
}
.hide{
	display: none;
}
.page{
	height: 100%;
}
.call{
	background: url(../img/img_2_bg.jpg) no-repeat;
	background-size: 100% 100%;

}
#answer{
	width: 100%;
	position: absolute;
	text-align: center;
	bottom: 20%;
}
.incall{
	background: url(../img/img_1_parents.png) no-repeat;
	background-size: 100% 100%;	
}